@media (max-width: 480px) {
  .cart-container {
    padding: 20px;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 12px;
  }

  .empty-cart img {
    width: 40vh!important;
  }

  .cart-list li span {
    white-space: normal;
  }

  .clear-cart-btn {
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .cart-container {
    padding: 25px;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .empty-cart img {
    width: 45.5vh;
  }

  .clear-cart-btn {
    width: 100%;
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .cart-container {
    padding: 40px 60px;
  }
}
